.btn-primary {
    display: grid;
    width: min(19rem, 100%);
    white-space: nowrap;
    padding: var(--space-m) var(--space-l);
    place-items: center;
    border-radius: 12px;
    border: unset;
    background: var(--color-action);
    box-shadow: 0px 1px 2px 0px rgba(59, 81, 169, 0.40);
    color: white;
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    font-size: var(--text-s);


    &:hover {
        background-color: var(--color-action-dark-100);
    }

    &:active {
        background-color: var(--color-action-dark-200);
    }

    &:focus-visible {
        outline: 5px auto var(--color-system-blue);
        outline-offset: 0.4rem;

    }
}

.btn-ghost {
    display: grid;
    width: min(19rem, 100%);
    white-space: nowrap;
    padding: var(--space-m) var(--space-l);
    place-items: center;
    border-radius: 12px;
    border: var(--color-action) 1px solid;
    background: unset;
    box-shadow: 0px 1px 2px 0px rgba(59, 81, 169, 0.40);
    color: var(--color-action);
    font-weight: 700;
    text-transform: capitalize;
    cursor: pointer;
    font-size: var(--text-s);

    &:hover {
        background-color: var(--color-action-dark-100);
        color: white;
    }

    &:active {
        background-color: var(--color-action-dark-200);
        color: white;
    }

    &:focus-visible {
        outline: 5px auto var(--color-system-blue);
        outline-offset: 0.4rem;
        background-color: var(--color-action-dark-200);
        color: white;

    }
}

@media (width > 1299px) {
    .btn-primary, .btn-ghost {
        font-size: var(--text-base);
    }
}