:root {
    --text-xxs: clamp(0.875rem, 0.8333rem + 0.2083vw, 1rem);
    --text-xs: clamp(1rem, 0.9583rem + 0.2083vw, 1.125rem);
    --text-s: clamp(1.125rem, 1.0833rem + 0.2083vw, 1.25rem);
    --text-base: clamp(1.375rem, 1.3333rem + 0.2083vw, 1.5rem);
    --text-m: clamp(1.75rem, 1.6667rem + 0.4167vw, 2rem);
    --text-l: clamp(2rem, 1.9167rem + 0.4167vw, 2.25rem);
    --text-xl: clamp(2.415625rem, 2.3323rem + 0.4167vw, 2.665625rem);
    --text-xxl: clamp(3.053125rem, 2.8865rem + 0.8333vw, 3.553125rem);

    --system-ui: 'Inter', system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    --serif: "Libre Baskerville";

}

/* libre-baskerville-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-regular.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* libre-baskerville-italic - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: italic;
    font-weight: 400;
    src: url('/fonts/libre-baskerville-v14-latin-italic.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }
  /* libre-baskerville-700 - latin */
  @font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Libre Baskerville';
    font-style: normal;
    font-weight: 700;
    src: url('/fonts/libre-baskerville-v14-latin-700.woff2') format('woff2'); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
  }